body {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
    background-color: #FEF8F0;
    color: rgba(0, 102, 0, 1);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: start;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu li a {
    color: rgba(0, 102, 0, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.menu li a:hover {
    color: rgba(0, 102, 0, 1);
}

main {
    display: grid;
    gap: 80px;
    justify-items: center;
    margin-top: 60px;
}

.counter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    gap: 40px;
}

.counter h1 {
    color: #F29130;
}

.counte::before{
    content: "+";
    width: 30px;
}
