html {
    font-size: 62.5%
}


body {
    margin: 0rem;
    font-family: Inter;
    background-color: #FEF8F0;
    color: rgba(0, 102, 0, 1);
    /* box-sizing: border-box; */
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0rem;
}

main {
    padding-top: 3rem;
}

.header {
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
}

.container {
    margin: 0 auto;
    max-width: 144rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.header .itens {
    display: flex;
    align-items: center;
}

.header .itens img {
    margin: 0 auto;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu li a {
    color: rgba(0, 102, 0, 0.60);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.menu li a:hover {
    color: rgba(0, 102, 0, 1);
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.counter-item:not(:last-child) {
    border-right: 0.35rem solid #F29130;
    padding-right: 3rem;
}


.counter h1 {
    color: #F29130;
    text-align: center;
    font-size: 40px;
}

.counter-item h1::before{
    content: "+";
    width: 3rem;
}

.counter-item p {
    font-size: 20px;
}

